# Byte-compiled / optimized / DLL files
__pycache__/
*.log
*dummyData.sto
*.DS_Store

examples/*
!examples/Hamner_modified.osim
!examples/LaiArnold_modified.osim

opensimAD-install/*

# avoid loading VSCode stuff
.vscode/*

# added locally to investigate the implementation of the Recorder class
simbody_recorder_source/*
